
.bloc{
    width: 45%;
    min-width: 450px;
    border: solid 1px white;
    padding: 20px;
    font-size: 1em;
    margin:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
  }
  .bloc h3{
    margin-bottom: 20px;
  }
 


@media screen and (max-width: 1000px) {
    .bloc{
      min-width: 0px;
    }
}

@media screen and (max-width: 450px) {
    
    .bloc{
      width: 100%;
      min-width: 0px;
    }
    .bloc h3{
      font-size: 1.2em;
    }
   
  }
    