.container{
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    -ms-scroll-snap-type: y mandatory;
        scroll-snap-type: y mandatory;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
.container::-webkit-scrollbar {
    display: none;
  }