@import "./header.scss";

.container{
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    -ms-scroll-snap-type: y mandatory;
        scroll-snap-type: y mandatory;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
.container::-webkit-scrollbar {
    display: none;
  }

.titre span:nth-child(1){
    left: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom;
    animation: 0.8s vertical forwards;
    animation-delay: 0.5s;
  }
  .titre span:nth-child(2){
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    animation: 0.8s horizontal forwards;
    animation-delay: 1.3s;
  }
  .titre span:nth-child(3){
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    animation: 0.8s vertical forwards;
    animation-delay: 0.5s;
  }
  .titre span:nth-child(4){
    left: 0;
    top: 0;
    height: 1px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    animation: 0.8s horizontal forwards;
    animation-delay: 1.3s;
  }
.cv{
    display: flex;
    flex-direction: row;
    width: 800px;
}
.cv .main p{
    color: black;
}

/* Début de la partie aside */
.aside{
    width: 38%;
    background-color: #1F3763;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 30px 40px;
}
.img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}
.aside h1{
    font-size: 48px;
    font-family: 'Arial Narrow Bold', sans-serif;
    line-height: 48px;
    margin: 25px 0px;
}
.block h3, .block p{
    margin-bottom: 10px;
}
.block{
    margin-bottom: 25px;
}
.icon{
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}
.icon ion-icon{
    margin-top: 3px;
  }
.icon p {
    margin: 0 0 0 10px;
}
.form p{ 
    font-size: 14px;
    line-height: 18px;
}
.aside a{
    color:rgb(255, 255, 255)
}
/* Fin de la partie aside */

/* Début de la partie main */
.main{
    width: 62%;
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 250, 250);
    color: rgb(94, 94, 94);
    padding: 40px 30px 40px 40px;
}

.profil, .comp, .exp{
    margin-bottom: 35px;
}
.profil h3, .comp h3, .exp h3{
    margin-bottom: 20px;
    color: rgb(51, 51, 51);
}
.stage-titre{
    color: rgb(27, 27, 27);
    font-size: 16px;
    font-weight: 500;

}
.stage{
    margin-bottom: 25px;

}
.stage:last-child{
    margin-bottom: 0px;
}
.stage-date{
    margin-bottom: 6px;
    color: #1F3763 !important; 
    font-size: 14px;
}
.stage a{ 
    color: #1F3763 ;
}
.comp h3{
    width: 100%;
}
.comp{
    display: flex;
    flex-wrap: wrap;
}
.comp h5, .stage b {
    color: #5e5e5e;
}


.from-home{
    margin-top: 20vh;
    width: 100%;
    justify-content: center;
    background-color: rgba(143, 143, 143, 0.233);
}
.activites {
    padding: 20px;
}
.first-row, .second-row{
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    justify-content: space-around;
}
.activite-texte1 {max-width: 600px; padding: 20px;}
.activite-img1, .activite-img2 {
    position: relative;
    width: 40vw; 
    min-width: 300px;
    height: 40vw; 
    min-height: 400px;
    padding: 20px;
}
  
.activite-texte2{max-width: 600px; padding: 20px;}

.defi2, .defi1{
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
    }

.from-home{
    font-size: 1.2em;
}
.from-home h3{
    text-align: center;
    margin-top: 40px;
}
.sous-titre{
    text-align: center;
    margin-top: 20px;
}
.from-home a{
    text-decoration: underline;
}
.activite-texte1 p, .activite-texte2 p{
    margin-top: 25px;

}

@keyframes vertical{
    100%{
      transform: scaleY(1);
    }
  }
  @keyframes horizontal{
    100%{
      transform: scaleX(1);
    }
  }

@media screen and (max-width: 840px){
    .cv{
        width: 100%;
        flex-direction: column;
    }
    .aside, .main{
        width: 100%;
        padding: 30px;
    }
    
    .img{
        margin-left: 0;
        transform: translateX(0%);
        border-radius: 0;
        padding: 0px;

    }
    .first-row{
        flex-direction: column;
        justify-content: center;
    }
    .second-row{
        flex-direction: column-reverse;

    }
    .first-row , .second-row {
        align-items: center;
    }
}
@media screen and (max-width: 500px){
    .titre{
        position: relative;
        padding: 30px 40px;
      }
      .section{
        margin: calc(50vh - 45px) 20px;

      }
}
@media screen and (max-width: 350px){
    .activites {
        padding: 5px;
    }
    .activites p {
        font-size: 0.9em;
    }
}