@import "./header.scss";


.titre span:nth-child(1){
    left: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom;
    -webkit-animation: 0.4s vertical forwards;
            animation: 0.4s vertical forwards;
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }
  .titre span:nth-child(2){
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    -webkit-animation: 0.5s horizontal forwards;
            animation: 0.5s horizontal forwards;
    -webkit-animation-delay: 1.8s;
            animation-delay: 1.8s;
  }
  .titre span:nth-child(3){
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    -webkit-animation: 0.4s vertical forwards;
            animation: 0.4s vertical forwards;
    -webkit-animation-delay: 1.4s;
            animation-delay: 1.4s;
  }
  .titre span:nth-child(4){
    left: 0;
    top: 0;
    height: 1px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
    -webkit-animation: 0.5s horizontal forwards;
            animation: 0.5s horizontal forwards;
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }

.double-section{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 5vw;
  margin-bottom: 90px;
}
.double-section section{
  width: 40vw;
  padding: 20px;
  background-color: rgba(66, 62, 52, 0.185);
  height: 100%;
  line-height: 28px;
  font-size: 1.2em;
  font-weight: 100;
}
.double-section h2{
  margin-bottom: 30px;
}
.bac-pro{
  margin: 90px 0;
}

.sous-titre{
  text-align: center;
  margin: 20px 0;
}
.eni{
  h3{
    padding: 20px 20px 0;
  }
}
.row1, .row3, .row2{
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  margin: 30px 0;
}
.row1, .row3{
  justify-content: center;
  flex-direction: row;
}
.row2{
  flex-direction: row-reverse;
  justify-content: space-around;

}
.row1 p, .row2 p, .row3 p{
  width: 40%;
  max-width: 600px;
}

.image-container{
  margin: 0 20px;
  position: relative;
  width: 40vw; 
  min-width: 300px;
  display: flex;
  align-items: center;
  min-height: 300px;

}
.row1 .image-container{    
  max-width: 600px;
}
.row2 .image-container{
  max-width: 400px;
}
.row3 .image-container{
  max-width: 700px;
}
.eni .image-container{
  margin: 20px auto;
  width: clamp(60vw, 4vw, 100vw); 
  height: clamp(40vw, 4vw, 100vw);
}

.sio-image{
  -o-object-fit: contain;
     object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: 100% !important;
  }

  @-webkit-keyframes vertical{
    100%{
      transform: scaleY(1);
    }
  }

  @keyframes vertical{
    100%{
      transform: scaleY(1);
    }
  }
  @-webkit-keyframes horizontal{
    100%{
      transform: scaleX(1);
    }
  }
  @keyframes horizontal{
    100%{
      transform: scaleX(1);
    }
  }
  @media screen and (max-width: 500px){
    .titre{
        position: relative;
        padding: 30px 40px;
      }
      .section{
        margin: calc(50vh - 45px) 20px;

      }
}

@media screen and (max-width: 800px){
  .double-section{
    flex-direction: column;
  }
  .double-section section{
    width: 100%;
    padding: 20px;
  }
  .row1, .row3{
    flex-direction: column;
  }
  .row2{
    flex-direction: column;
    justify-content: center;
  }
  .row1 p, .row2 p, .row3 p{
    width: 100%;
    max-width: 100%;
  }
  .row1 .image-container, .row2 .image-container, .row3 .image-container{
    min-height: 250px;
    width: 90vw;
    max-width: 90%;
    display: flex;
    justify-content: center;
  }
  .eni .image-container{
    margin: auto;
    width: 100vw; 
    height: 66vw;
  }
}