*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --bg-pattern: #0046d4;

}
/* Style général de la barre de défilement */
::-webkit-scrollbar {
  width: 18px; /* Largeur de la scrollbar */
}

/* Style de la zone de fond de la scrollbar (track) */
::-webkit-scrollbar-track {
  background-color: white;
}
/* Ajouter un espace vide en haut du curseur (thumb) */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, rgb(165, 179, 245) 5%, rgb(95, 95, 253) 100%);
  border-radius: 9px;
  border: 4px solid transparent;
  background-clip: padding-box;
  min-height: 80px; /* Hauteur minimale du curseur */

  
}

/* Optionnel : ajuster la taille du track (le fond de la scrollbar) */
::-webkit-scrollbar-track {
  margin-top: 70px; /* Simule une marge en haut pour éviter que la scrollbar ne débute au niveau du menu */
  background-color: #1d1a20;
}
@-moz-document url-prefix() {
  /* Exclure les modifications de la scrollbar pour Firefox ici */
  .content {
    scrollbar-width: auto; /* Réinitialiser la scrollbar dans Firefox */
    scrollbar-color: auto; /* Utiliser le style par défaut dans Firefox */
  }
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  color: white;
}
ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  height: 100vh;
  background: #111331;
  z-index: -2;
  overflow: hidden;
}

.topbar h2 {
  cursor: pointer;
}
.page {
  -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);
}

.background {
  overflow: hidden !important;
  position: absolute !important;
  height: 100vh !important;
  width: 100vw !important;
}

@keyframes animate {
  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }
  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  //background: radial-gradient(circle, rgba(0,0,101,1) 0%, rgba(61,61,255,1) 100%);
  // background: linear-gradient(90deg, rgba(0,0,182,1) 0%, rgba(46,85,252,1) 5%, rgba(0,70,180,1) 50%, rgba(46,85,252,1) 95%, rgba(0,0,182,1) 100%);
  background: linear-gradient(90deg, rgba(0,89,182,1) 0%, rgba(46,85,252,1) 50%, rgba(0,0,182,1) 100%);

  overflow: hidden;
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 34s linear infinite;
}




.background li:nth-child(0) {
  left: 8%;
  width: 272px;
  height: 272px;
  bottom: -272px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 56%;
  width: 102px;
  height: 102px;
  bottom: -102px;
  animation-delay: 3s;
}
.background li:nth-child(2) {
  left: 38%;
  width: 223px;
  height: 223px;
  bottom: -223px;
  animation-delay: 1s;
}
.background li:nth-child(3) {
  left: 66%;
  width: 285px;
  height: 285px;
  bottom: -285px;
  animation-delay: 8s;
}
.background li:nth-child(4) {
  left: 33%;
  width: 236px;
  height: 236px;
  bottom: -236px;
  animation-delay: 7s;
}
.background li:nth-child(5) {
  left: 2%;
  width: 291px;
  height: 291px;
  bottom: -291px;
  animation-delay: 24s;
}
.background li:nth-child(6) {
  left: 10%;
  width: 104px;
  height: 104px;
  bottom: -104px;
  animation-delay: 22s;
}