*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
p, a, h1,h2,h3,h4,h5,h6{
    color: white;
}
ul, li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    background: #1d1a20;
    z-index: -2;
    overflow: hidden;

}

body::-webkit-scrollbar {
    display: none;
}
.topbar h2{
  cursor: pointer;
}
.next-page{
    -webkit-backdrop-filter: blur(120px);
    backdrop-filter: blur(120px);
}




.container::-webkit-scrollbar {
    display: none;
}
.background{
  overflow: hidden !important;
  position: absolute !important;
  height: 100% !important;
  width: 100% !important;

}
$particleSize: 60vmin;
$animationDuration: 120s;
$amount: 11;
.background span {
    width: $particleSize;
    height: $particleSize;
    border-radius: $particleSize;

    position: absolute;
    -webkit-animation-name: move;
            animation-name: move;
    -webkit-animation-duration: $animationDuration;
            animation-duration: $animationDuration;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    z-index: -1;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    $colors: (
      #161b2b,
      #2b161c,
      #201420,
      #292626
      
    );
    @for $i from 1 through $amount {
      &:nth-child(#{$i}) {
        color: nth($colors, random(length($colors)));
        top: random(100) * 1%;
        left: random(100) * 1%;
        -webkit-animation-duration: (random($animationDuration * 10) / 10) * 1s + 10s;
                animation-duration: (random($animationDuration * 10) / 10) * 1s + 10s;
        -webkit-animation-delay: random(($animationDuration + 10s) * 10) / 10 * -1s;
                animation-delay: random(($animationDuration + 10s) * 10) / 10 * -1s;
        transform-origin: (random(50) - 25) * 1vw (random(50) - 25) * 1vh;
        $x: if(random() > 0.5, -1, 1);
        background-color:  currentColor;
      }
    }
  }
  
@-webkit-keyframes move {
    100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}
  
@keyframes move {
    100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

@supports (-moz-appearance:none) {
  .background{
    display: none;
   
  }
  body{
    background-image: url("/bg.jpg") !important;
    background-size: cover;
  }
  .next-page{
    background-color: rgba(0, 0, 0, 0.30);
  }
  
}
@media screen and (max-width: 400px){
  .background{
      display: none;
    }
    body{
      background-image: url("/bg.jpg") !important;
      background-size: cover;
    }
    .next-page{
      background-color: rgba(0, 0, 0, 0.30);
      backdrop-filter: blur(7px);

    }
}