.section{
    margin: calc(50vh - 70px)  0;
    height: 800px !important;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titre{
    position: relative;
    padding: 60px 120px;
}
.titre span{
    display: block;
    position: absolute;
    background-color: white;
  }
  